* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-image: url(../images/paper.avif);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: rgb(173, 45, 173);
    margin-bottom: 100px;
    padding-bottom: 50px;
    height: 100px;
    
}

#new-task {
    width: 200px;
}

#add-btn {
    
}

.card {
    font-family: 'Shantell Sans', cursive;
    margin: 0 30%;
    height: 400px;
    background: rgba(211, 211, 211, 0.95);
    border-radius: 2em;
    overflow-y: auto;
}

li {
    list-style: none;
    padding-right: 40px;
    margin: 10px 0;
}

.delete {
    margin: 0 10px;
}

.done {
    margin: 0 10px;
}

.btn-img  {
    width: 20px;
    height: 20px;
}
